/.ipynb_checkpoints
/CO2_waveshare_OLED/figs
/.vscode
/settings.toml
/.DS_Store
/CO2_waveshare_OLED/.DS_Store
/CO2_waveshare_OLED/data/sensor_data_2026-05-14 10:16:59.csv
/CO2_waveshare_OLED/data/sensor_data_2026-05-14 10:20:22.csv
/CO2_waveshare_OLED/data/sensor_data_2026-05-14 10:24:55.csv
/CO2_waveshare_OLED/data/sensor_data_2026-05-14 10:34:34.csv
/CO2_waveshare_OLED/data/sensor_data_2026-05-15 12:59:25.csv
/CO2_waveshare_OLED/data/sensor_data_2026-05-15 13:00:07.csv
/CO2_waveshare_OLED/data/sensor_data_2026-05-15 13:00:10.csv
/CO2_waveshare_OLED/data/sensor_data_2026-05-15 13:04:48.csv
/CO2_waveshare_OLED/data/sensor_data_2026-05-15 13:06:40.csv
/CO2_waveshare_OLED/data/sensor_data_2026-05-15 13:21:49.csv
/CO2_waveshare_OLED/data/sensor_data_2026-05-15 15:12:12.csv
/CO2_waveshare_OLED/data/sensor_data_2026-05-15 15:12:16.csv
/CO2_waveshare_OLED/src/secrets.py
